* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

.nav {
    padding: 0 10px 0px 10%;
    text-align: center;
    background-color: #d2cfd2;
    /*  display: flex;
        justify-content: space-between; */ 
}

.logo {
    width: 120px;
    height: 35px;
    color: wheat;
    background: #b6936c;
    font-size: 20px;
    float: left;
    border-radius: 20px 5px 20px 5px;
    margin: 10px 10px 15px 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    /* flex: 1 1 0;*/
    -webkit-box-shadow: 0px 0px 5px 0px rgba(74,66,63,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(74,66,63,0.5);
    box-shadow: 0px 0px 5px 0px rgba(74,66,63,0.5);
}

.nav__button {
    width: 120px;
    height: 35px;
    background: #a7a0a2;
    font-size: 20px;
    float: left;
    border-radius: 20px 5px 20px 5px;
    margin: 10px 10px 15px 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    /* flex: 1 1 0; */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(74,66,63,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(74,66,63,0.5);
    box-shadow: 0px 0px 5px 0px rgba(74,66,63,0.5);
}

.clear {
    clear: both;
}

.header {
    text-align: right;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 15px;
    background-color: #b6936c;
    color: wheat;
    border-radius: 5px 20px 5px 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(74,66,63,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(74,66,63,0.5);
    box-shadow: 0px 0px 5px 0px rgba(74,66,63,0.5);
}

.main {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.photo {
    float: left;
    width: 20%;
    margin: 10px 10px 10px 0;
    border-radius: 20px 5px 20px 5px;
}

.title {
    font-size: 35px;
    color: #4a3d37;
}

.footer {
    border-top: 2px black;
    margin-left: 10%;
    margin-right: 10%;
    text-align: right;
}